<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consult.dao.consultDAO">
	<select id="selectConsult" resultType="Map" parameterType="Map">
		SELECT ROWNUM,TO_CHAR(CONSULT_DATE,'YYYY-MM-DD HH24:MI:SS') AS CONSULT_DATE,ID,NVL(HOUSE_EXPENCE,0) AS HOUSE_EXPENCE
		,NVL(HOUSE_MONTHDIFF,0) AS HOUSE_MONTHDIFF
		,NVL(MARRIAGE_EXPENCE,0) AS MARRIAGE_EXPENCE
		,NVL(MARRIAGE_MONTHDIFF,0) AS MARRIAGE_MONTHDIFF,
		NVL(ETC_NAME,'NULL') AS ETC_NAME,
		NVL(ETC_EXPENCE,0) AS ETC_EXPENCE,NVL(ETC_MONTHDIFF,0) AS ETC_MONTHDIFF,
		ACCOUNT_ASSERTS,STOCK_ASSERTS,LOAN_ASSERTS,INCOME,OUTCOME,
		RETIRE_AGE,EXPECTED_AGE,PENSION_AMOUNT,expected_Living_Expence
		FROM T_ALONE_CONSULT
		where ID=#{id} AND to_char(consult_date,'yyyy-mm-dd') = #{searchConsultDate}
	</select>
	<select id="selectAllConsult" resultType="Map" parameterType="String">
		SELECT ROWNUM,TO_CHAR(CONSULT_DATE,'YYYY-MM-DD HH24:MI:SS') AS CONSULT_DATE,ID,NVL(HOUSE_EXPENCE,0) AS HOUSE_EXPENCE
		,NVL(HOUSE_MONTHDIFF,0) AS HOUSE_MONTHDIFF
		,NVL(MARRIAGE_EXPENCE,0) AS MARRIAGE_EXPENCE
		,NVL(MARRIAGE_MONTHDIFF,0) AS MARRIAGE_MONTHDIFF,
		NVL(ETC_NAME,'NULL') AS ETC_NAME,
		NVL(ETC_EXPENCE,0) AS ETC_EXPENCE,NVL(ETC_MONTHDIFF,0) AS ETC_MONTHDIFF,
		ACCOUNT_ASSERTS,STOCK_ASSERTS,LOAN_ASSERTS,INCOME,OUTCOME,
		RETIRE_AGE,EXPECTED_AGE,PENSION_AMOUNT,expected_Living_Expence
		FROM T_ALONE_CONSULT
		where ID=#{id}
	</select>
</mapper>


