<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hometax.dao.hometaxDAO">
	<resultMap type="kr.ac.kopo.hometax.vo.HometaxVO"
		id="hometaxMap">
		<result column="credit_card" property="creditCard" />
		<result column="debit_card" property="debitCard" />
		<result column="cash_receipt" property="cashReceipt" />
		<result column="national_pension" property="nationalPension" />
		<result column="medical_expense" property="medicalExpense" />
		<result column="education_expense" property="educationExpense" />
	</resultMap>
	<select id="gethometaxinfo"
		parameterType="kr.ac.kopo.member.vo.MemberVO" resultMap="hometaxMap">
		select * from t_hometax where id = #{id} and password = #{password}
	</select>
	<select id="correctApiKey" parameterType="Map" resultType="int">
		select count(*) from
		(select company_code from t_hometax_api
		where company_code=#{companyCode}
		and API_KEY=#{apiKey})
	</select>
	<select id="generateApiKey" resultType="String">
		SELECT DBMS_RANDOM.STRING('x', 20) STR FROM DUAL
	</select>
	<insert id="storeApiKey" parameterType="Map">
		insert into t_hometax_api values (#{id},#{apiKey})
	</insert>
</mapper>